sudo: required

language: python

services:
  - docker

before_install:
  - pip install awscli
  - docker build -t bids/cpac .
  - docker pull filo/docker2singularity
  - mkdir -p ${HOME}/singularity_images
  - docker run -ti --rm --privileged -v /var/run/docker.sock:/var/run/docker.sock -v ${HOME}/singularity_images:/output filo/docker2singularity "bids/cpac"

script:
  - sing_img=$(ls -t ${HOME}/singularity_images | head -n 1); docker run --rm --privileged -v ${HOME}/singularity_images:/output --entrypoint /output/${sing_img} filo/docker2singularity -h

after_success:
  - if ([ "$TRAVIS_BRANCH" == "master" ] || [ ! -z "$TRAVIS_TAG" ]) && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then sing_img=$(ls -t ${HOME}/singularity_images | head -n 1); version=$( git describe --tags ); echo "$sing_img ... $version"; aws s3 cp --acl public-read ${HOME}/singularity_images/${sing_img} s3://fcp-indi/resources/singularity_images/bids_cpac/bids_cpac_latest.img; aws s3 cp --acl public-read ${HOME}/singularity_images/${sing_img} s3://fcp-indi/resources/singularity_images/bids_cpac/bids_cpac_${TRAVIS_TAG}.img; fi