---
version: 2

jobs:
  build:
    machine:
      # https://circleci.com/developer/machine/image/ubuntu-2204
      image: ubuntu-2204:2022.10.2
    steps:
    - checkout
    - restore_cache:
        keys:
        - my_cache
    - run:
        name: Get test data ds114_test1
        command: |
          wget https://raw.githubusercontent.com/bids-apps/maintenance-tools/main/circleci/get_ds114_test1.sh
          bash get_ds114_test1.sh 
    - run:
        name: Get test data ds114_test2
        command: |
          wget https://raw.githubusercontent.com/bids-apps/maintenance-tools/main/circleci/get_ds114_test2.sh
          bash get_ds114_test2.sh 
    - run:
        name: Build Docker image
        command: |
          wget https://raw.githubusercontent.com/bids-apps/maintenance-tools/main/circleci/build_docker.sh
          bash build_docker.sh 
    - save_cache:
        key: my_cache
        paths:
        - ~/docker
        - ~/data
    - persist_to_workspace:
        root: /home/circleci
        paths:
        - data/ds114_test1
        - data/ds114_test2
        - docker/image.tar

  test:
    machine:
      image: ubuntu-2204:2022.10.2

    steps:
    - attach_workspace:
        at: /tmp/workspace

    - run:
        command: |
          docker run -ti --rm --read-only \
            -v /tmp/workspace/data/ds114_test1:/bids_dataset \
            -v ${HOME}/outputs1:/outputs \
              bids/${CIRCLE_PROJECT_REPONAME,,} \
                /bids_dataset /outputs participant --participant_label 01 --n_cpus 2 \
                --pipeline_file /cpac_resources/test_pipeline.yaml
        no_output_timeout: 6h
    - run:
        command: |
          docker run -ti --rm --read-only \
              -v /tmp/workspace/data/ds114_test1:/bids_dataset \
              -v ${HOME}/outputs1:/outputs \
                bids/${CIRCLE_PROJECT_REPONAME,,} \
                  /bids_dataset /outputs participant --participant_label 02 --n_cpus 2 \
                  --pipeline_file /cpac_resources/test_pipeline.yaml
        no_output_timeout: 6h
    - run:
        command: |
          docker run -ti --rm --read-only \
            -v /tmp/workspace/data/ds114_test1:/bids_dataset \
            -v ${HOME}/outputs1:/outputs \
              bids/${CIRCLE_PROJECT_REPONAME,,} \
                /bids_dataset /outputs group --n_cpus 2
        no_output_timeout: 6h
    - run:
        command: |
          docker run -ti --rm --read-only \
            -v /tmp/workspace/data/ds114_test2:/bids_dataset \
            -v ${HOME}/outputs2:/outputs \
            bids/${CIRCLE_PROJECT_REPONAME,,} \
              /bids_dataset /outputs participant --participant_label 01 --n_cpus 2 \
                --pipeline_file /cpac_resources/test_pipeline.yaml
        no_output_timeout: 6h
    - run:
        command: |
          docker run -ti --rm --read-only \
          -v /tmp/workspace/data/ds114_test2:/bids_dataset \
          -v ${HOME}/outputs2:/outputs \
          bids/${CIRCLE_PROJECT_REPONAME,,} \
            /bids_dataset /outputs participant --participant_label 02 --n_cpus 2 \
            --pipeline_file /cpac_resources/test_pipeline.yaml
        no_output_timeout: 6h
    - run:
        command: |
          docker run -ti --rm --read-only \
          -v /tmp/workspace/data/ds114_test2:/bids_dataset \
          -v ${HOME}/outputs2:/outputs \
          bids/${CIRCLE_PROJECT_REPONAME,,} \
            /bids_dataset /outputs group --n_cpus 2
        no_output_timeout: 6h

  deploy:

    machine:
      image: ubuntu-2204:2022.10.2

    steps:
    - attach_workspace:
        at: /tmp/workspace

    - run: docker load -i /tmp/workspace/docker/image.tar
    - run:
        name: push to dockerhub
        command: |
          docker login --username ${DOCKER_USER} --password ${DOCKER_PASS}
          docker push bids/${CIRCLE_PROJECT_REPONAME,,}:unstable
          if [[ -n "${CIRCLE_TAG}" ]]; then
            docker push bids/${CIRCLE_PROJECT_REPONAME,,}:latest
            docker tag bids/${CIRCLE_PROJECT_REPONAME,,} bids/${CIRCLE_PROJECT_REPONAME,,}:${CIRCLE_TAG}
            docker push bids/${CIRCLE_PROJECT_REPONAME,,}:${CIRCLE_TAG}
          fi

workflows:
  version: 2
  build-test-deploy:
    jobs:
    - build:
        filters:
          tags:
            only: /.*/
    - test:
        requires:
        - build
        filters:
          tags:
            only: /.*/
    - deploy:
        requires:
        - build
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /.*/
# VS Code Extension Version: 1.5.1
